<div
  class="w-screen h-screen flex flex-col justify-center items-center bg-slate-100"
>
  <div class="w-1/4 bg-white rounded-lg shadow-md p-6 border">
    <div class="flex flex-col mb-4">
      <h1 class="text-3xl font-bold">Login Account</h1>
      <span class="text-sm text-slate-400 font-semibold mt-2 mb-2">
        Please enter your account credential to login!
      </span>
      <hr class="bg-slate-200 h-1" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="flex flex-col mb-4">
        <div class="flex flex-row gap-2">
          <i class="fas fa-user text-sm"></i>
          <label class="text-sm font-semibold mb-2">Username</label>
        </div>
        <input
          type="text"
          placeholder="Enter your username"
          class="p-2 border rounded-lg text-sm focus:outline-blue-500"
          autocomplete="off"
          formControlName="username"
        />
      </div>

      <div class="flex flex-col mb-4">
        <div class="flex flex-row gap-2">
          <i class="fas fa-lock text-sm"></i>
          <label class="text-sm font-semibold mb-2">Password</label>
        </div>
        <input
          type="password"
          placeholder="* * * * * * * *"
          class="p-2 border rounded-lg text-sm focus:outline-blue-500"
          autocomplete="off"
          formControlName="password"
        />
      </div>

      <button
        class="w-full p-2 font-semibold rounded-lg bg-blue-500 text-white hover:bg-blue-700"
        [disabled]="!loginForm.valid"
      >
        <i class="fas fa-sign-in text-sm mr-2"></i>
        Login
      </button>
    </form>
  </div>

  <footer class="mt-4">
    <h1 class="text-sm font-semibold text-slate-500">
      Copyright 2024. CMS Ticket System
    </h1>
  </footer>
</div>
