<h1 class="text-2xl font-bold">Event</h1>

<div class="w-full bg-white rounded-lg p-4 mt-4 shadow-md">
  <button
    *ngIf="!isShowingForm"
    (click)="toggleFormVisibility()"
    class="bg-blue-500 text-white p-2 px-4 text-sm font-semibold rounded-lg hover:bg-blue-700"
  >
    <i class="fas fa-plus-circle mr-2"></i>
    Event
  </button>

  <div *ngIf="isShowingForm">
    <h1 class="font-semibold">Add New Event</h1>

    <hr class="bg-slate-100 h-1 mt-4 mb-4" />

    <form class="px-2" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Event</label>
        <ng-select
          class="col-span-2"
          formControlName="event_id"
          [loading]="isLoadingEventList"
          (open)="events()"
          bindLabel="name"
          bindValue="id"
        >
          <ng-option *ngFor="let item of eventList" [value]="item.id">
            {{ item.name }}
          </ng-option>
        </ng-select>
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Location</label>
        <input
          placeholder="Enter event location"
          class="col-span-2 p-2 border rounded-lg text-sm focus:outline-blue-500"
          formControlName="location"
        />
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Province</label>
        <ng-select
          class="col-span-2"
          formControlName="province_id"
          [loading]="isLoadingProvinceList"
          (open)="provinces()"
          bindLabel="province_name"
          bindValue="id"
        >
          <ng-option *ngFor="let item of provinceList" [value]="item.id">
            {{ item.province_name }}
          </ng-option>
        </ng-select>
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Category</label>
        <ng-select
          class="col-span-2"
          formControlName="category_id"
          [loading]="isLoadinCategoryList"
          (open)="categories()"
          bindLabel="category_name"
          bindValue="id"
        >
          <ng-option *ngFor="let item of categoryList" [value]="item.id">
            {{ item.category_name }}
          </ng-option>
        </ng-select>
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Description</label>
        <input
          placeholder="Enter event description"
          class="col-span-2 p-2 border rounded-lg text-sm focus:outline-blue-500"
          formControlName="description"
        />
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Information</label>
        <input
          placeholder="Enter event information"
          class="col-span-2 p-2 border rounded-lg text-sm focus:outline-blue-500"
          formControlName="information"
        />
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Image</label>
        <input
          type="file"
          class="col-span-2 p-2 border rounded-lg text-sm focus:outline-blue-500"
          (change)="onFileChange($event)"
        />
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">Start Date</label>
        <input
          type="datetime-local"
          class="col-span-2 p-2 border rounded-lg text-sm focus:outline-blue-500"
          formControlName="start_date"
        />
      </div>

      <div class="grid grid-cols-3 mb-2 items-center">
        <label class="text-sm font-semibold">End Date</label>
        <input
          type="datetime-local"
          class="col-span-2 p-2 border rounded-lg text-sm focus:outline-blue-500"
          formControlName="end_date"
        />
      </div>

      <div class="flex flex-row gap-2 mt-4 justify-end">
        <button
          (click)="toggleFormVisibility()"
          class="rounded-lg p-2 px-4 bg-slate-100 border text-sm font-semibold hover:bg-slate-300"
        >
          <i class="fas fa-times text-sm mr-1"></i>
          Cancel
        </button>
        <button
          class="rounded-lg p-2 px-4 bg-blue-500 text-sm font-semibold text-white hover:bg-blue-700"
        >
          <i class="fas fa-save text-sm mr-1"></i>
          Submit
        </button>
      </div>
    </form>
  </div>

  <div class="relative overflow-x-auto" *ngIf="!isShowingForm">
    <table class="w-full mt-4 text-sm text-left">
      <thead class="text-xs uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-4 py-2">No.</th>
          <th scope="col" class="px-4 py-2">Event</th>
          <th scope="col" class="px-4 py-2">Location</th>
          <th scope="col" class="px-4 py-2">Province</th>
          <th scope="col" class="px-4 py-2">Category</th>
          <th scope="col" class="px-4 py-2">Description</th>
          <th scope="col" class="px-4 py-2">Information</th>
          <th scope="col" class="px-4 py-2">Start Date</th>
          <th scope="col" class="px-4 py-2">End Date</th>
          <th scope="col" class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoadingListEvent">
        <tr class="border-b" *ngFor="let item of listEvent; let i = index">
          <td class="px-4 py-2">{{ i + 1 }}</td>
          <td class="px-4 py-2">{{ item.event.name }}</td>
          <td class="px-4 py-2">{{ item.location }}</td>
          <td class="px-4 py-2">{{ item.province.province_name }}</td>
          <td class="px-4 py-2">{{ item.category.category_name }}</td>
          <td class="px-4 py-2">{{ item.description }}</td>
          <td class="px-4 py-2">{{ item.information }}</td>
          <td class="px-4 py-2">{{ item.start_date }}</td>
          <td class="px-4 py-2">{{ item.end_date }}</td>
          <td class="px-4 py-2">
            <div class="flex flex-row gap-2">
              <a [href]="showImage(item.image)" target="_blank">
                <i
                  class="fas fa-eye text-sm text-white bg-green-500 hover:bg-green-700 p-2 rounded-lg px-3"
                ></i>
              </a>
              <button (click)="update(item)">
                <i
                  class="fas fa-edit text-sm text-white bg-blue-500 hover:bg-blue-700 p-2 rounded-lg px-3"
                ></i>
              </button>
              <button (click)="delete(item.id.toString())">
                <i
                  class="fas fa-trash text-sm text-white bg-red-500 hover:bg-red-700 p-2 rounded-lg px-3"
                ></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="animate-pulse w-full mt-4" *ngIf="isLoadingListEvent">
      <div class="w-full h-8 bg-slate-100 mb-4"></div>
      <div class="w-full h-8 bg-slate-100 mb-4"></div>
      <div class="w-full h-8 bg-slate-100 mb-4"></div>
      <div class="w-full h-8 bg-slate-100 mb-4"></div>
      <div class="w-full h-8 bg-slate-100 mb-4"></div>
    </div>
  </div>
</div>
